Lab_1/.idea
Lab_1/out

Lab_2/.idea
Lab_2/out

Lab_2 - Copy/.idea
Lab_2 - Copy/out

Lab_3/.idea
Lab_3/out

Lab4/.metadata  
Lab4/.recommenders

Lab4/Lab_4/bin
Lab4/Lab_4/.settings


Scala_Lab_1/.idea
Scala_Lab_1/target
Scala_Lab_1/project
Scala_Lab_1/src/test/scala/target

Scala_Lab_2/.idea
Scala_Lab_2/target
Scala_Lab_2/project
Scala_Lab_2/src/test/scala/target

Scala_Lab_3/.idea
Scala_Lab_3/target
Scala_Lab_3/project
Scala_Lab_3/src/test/scala/target

Scala_Lab_4/.idea
Scala_Lab_4/target
Scala_Lab_4/project
Scala_Lab_4/src/test/scala/target

*.iml
*.ipr
*.iws
*.class

